﻿.k-checkbox-label:before {
            border-style: inherit;
        }

        .setting-block1 {
            width: 380px;
            /*display: inline-block;
        float: left;*/
        }

        .setting-block2 {
            width: 400px;
            display: inline-block;
            float: left;
            margin: 20px 20px 0px 0px;
            border: 1px solid #bfbfbf;
        }

        .setting-block3 {
            display: inline-block;
            /* float: left; */
            width: 380px;
            border: 1px solid #bfbfbf;
            margin-top: 20px;
        }

        .k-upload {
            border: none !important;
        }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }

        .product-view {
            float: left;
            width: 100%;
            /*height: 250px;*/
            box-sizing: border-box;
            border-top: 0;
            position: relative;
        }

            .product-view:nth-child(even) {
                border-left-width: 0;
            }

            .product-view dl {
                margin: 10px 10px 0;
                padding: 0;
                overflow: hidden;
            }

            .product-view dt, dd {
                margin: 0;
                padding: 0;
                width: 100%;
                line-height: 24px;
                font-size: 18px;
            }

            .product-view dt {
                font-size: 11px;
                height: 16px;
                line-height: 16px;
                text-transform: uppercase;
                opacity: 0.5;
            }

            .product-view dd {
                height: 30px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

                .product-view dd .k-widget,
                .product-view dd .k-textbox {
                    font-size: 14px;
                }

        .k-listview {
            border-width: 1px 0 0;
            padding: 0;
            overflow: hidden;
            /*min-height: 250px;*/
        }

        .edit-buttons {
            /*position: absolute;*/
            bottom: 0;
            left: 0;
            right: 0;
            text-align: right;
            padding: 5px;
            background-color: rgba(0,0,0,0.1);
        }

        .k-pager-wrap {
            border-top: 0;
        }

        span.k-invalid-msg {
            position: absolute;
            margin-left: 6px;
        }

        .k-add-button {
            margin-bottom: 2em;
        }