﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FreshCar.Models.Home.HomeIndexModel

@Scripts.Render("~/Scripts/Home/index.js")

<div style="text-align: center" id="statusMain">
    <span class="myLabel label-manual">Ручная запись(Новая)</span>
    <span class="myLabel label-app">С приложения(Новая)</span>
    <span class="myLabel label-accepted">Заказ принят</span>
    <span class="myLabel label-in-work">В работе</span>
    <span class="myLabel label-made">Выполнен и оплачен</span>
    <span class="myLabel label-not-paid">Выполнен, но не оплачен</span>
</div>

<span id="popupNotification"></span>
<div id="scheduler"></div>

<audio id="player" loop>
    <source src="~/Media/viber.mp3">
    <source src="~/Media/viber.wav">
</audio>

<script id="event-template" type="text/x-kendo-template">
    <div>
        # if (data.OrderType === 0) { #
            <img src="../Styles/images/iphone.png" style="width:25px;">
        # } #
        ${ kendo.toString(start, "HH:mm") }-${ kendo.toString(end, "HH:mm") } ${ CarNumber !== null ? CarNumber : '' } 
        <span style="color:yellow">#: Cost #р</span>
    </div>

</script>

<script id="event-template-mobile" type="text/x-kendo-template">
    <div>
        ${ kendo.toString(start, "HH:mm") }-${ kendo.toString(end, "HH:mm") }
        <div>${ CarNumber !== null ? CarNumber : '' }</div>
    </div>
</script>

<script id="editor" type="text/x-kendo-template">
    <div class="editTemp">
        <fieldset>
            <legend>Информация о клиенте</legend>
            <p>
                <label>Марка машины:</label>
                <input name="title" id="carMakes" class="toLeft textToCenter" disabled="disabled" />
            </p>
            <p>
                <label>Гос. номер:</label>
                <input name="CarNumber" type="text" id="CarNumber" placeholder="х000хх000" class="toLeft textToCenter" />
            </p>
            <p>
                <label>Номер телефона:</label>
                <input name="ClientPhone" id="phone" type="text" placeholder="+7 (999) 999-99-99" class="toLeft textToCenter" />
            </p>
            <p>
                <label>Тип машины:</label>
                <input name="CarType" data-option-label="-Выберите тип-" data-source="dtCarTypes" data-role="dropdownlist" data-value-field="Id" data-text-field="Name" class="toLeft textToCenter" disabled="disabled" />
            </p>
        </fieldset>   
        <fieldset>
            <legend>Информация о заказе</legend>
            <p>
                <label>Вид услуги:</label>
                <input name="WorkId" data-option-label="-Основная услуга-" data-source="dtPrices" data-role="dropdownlist" data-value-field="Id" data-text-field="Name" class="toLeft textToCenter" disabled="disabled" />
               <!-- <span style="margin-left: 15px;">
                    <input type="button" value="+" class="workButtons" id="addWork" />
                    <input type="button" value="-" class="workButtons" id="deleteWork" />
                </span>-->
            </p>
            <p>
                <label>Бокс:</label>
                <input name="CarWashBoxId" data-source="dtRooms" data-role="dropdownlist" data-value-field="Id" data-text-field="Name" class="toLeft textToCenter" disabled="disabled" />
            </p>
            <p style="clear:both;">
                <label>Начало:</label>
                <input type="time" name="start1" class="toLeft" value="" disabled="disabled" />
            </p>
            <p style="clear:both;">
                <label>Окончание:</label>
                <input type="time" name="end1" class="toLeft" value="" disabled="disabled" />
            </p>
            <p style="clear:both;">
                <label>Стоимость:</label>
                <input name="Cost" type="number" class="toLeft textToCenter" style="width: 80px;" disabled="disabled" />
            </p>
            <p style="clear:both;" id="orderState">
                <label>Состояние:</label>
                <input name="OrderState" data-source="dtStates" data-role="dropdownlist" data-value-field="Id" data-text-field="Name" class="toLeft textToCenter" disabled="disabled" />
            </p>
        </fieldset> 
</div>
</script>

<style type="text/css">
    
    .workButtons {
        padding: 8px 12px 8px 12px;
        margin-left: 8px;
    }

     .invalid-slot {
         background: red !important;
         cursor: no-drop;
     }

    .k-today {
        text-align: center;
    }

    .head-date {
        font-size: large;
    }

    #scheduler {
        margin-top: 15px;
    }

    .k-window .k-edit-buttons {
        background: lightgray;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: inherit;
        font-size: 14px;
        color: gray;
        margin-bottom: 10px;
    }

    div[data-role=window] {
        padding-top: 0 !important;
    }

    fieldset { 
        margin-top: 7px;
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.1em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    div.editTemp label {
        width: 30%;
    }
</style>
