﻿@using FreshCar.Core.Entities
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/scripts/work/workindex.js")

<div class="alert alert-success" id="success-block" style="display: none">
    <span id="success-msg"></span>
</div>
<div class="alert alert-danger" id="error-block" style="display: none">
    <span id="error-msg"></span>
</div>
<div id="grid"></div>

@* Шаблон тулбара таблицы услуг *@
<script id="toolBarTemplate" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" onclick="addWork_Click()">
        Добавить новую услугу
    </button>
</script>

@* Шаблон тулбара сохранения тарифа *@
<script id="tariffCommandsCellTemplate" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-save-changes">
        Сохранить
    </button>
</script>

@* Шаблон ячейки команд услуги *@
<script id="workCommandsCellTemplate" type="text/x-kendo-template">
    # if(!IsSystem) {#
        <button class="k-button k-button-icontext k-grid-add edit-work" data-work-id="${Id}" data-work-name="${Name}" onclick="editWork_Click(event)">
            Изменить
        </button>
        <button class="k-button k-button-icontext k-grid-add delete-work" data-work-id="${Id}" onclick="deleteWork_Click(event)">
            Удалить
        </button>
    #}#
</script>

@* Popup для создания услуги *@
<div id="add-work-window" style="display: none">
    <div class="k-popup-edit-form k-window-content k-content">
        <div class="k-edit-form-container">
            <div class="k-edit-label">
                <label>Название услуги</label>
            </div>
            <div class="k-edit-field">
                <input id="new-work-name" type="text" maxlength="@Work.NAME_MAX_LENGTH" class="k-input k-textbox"/>
            </div>
        </div>
        <div style="float: left; padding-top: 20px;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" onclick="addWork(event)">
                Сохранить
            </button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" onclick="addWorkCancel_Click()">
                Отмена
            </button>
        </div>
    </div>
</div>

@* Popup для редактирования услуги *@
<div id="edit-work-window" style="display: none">
    <div class="k-popup-edit-form k-window-content k-content">
        <div class="k-edit-form-container">
            <div class="k-edit-label">
                <label>Название услуги</label>
            </div>
            <div class="k-edit-field">
                <input id="edited-work-name" type="text" maxlength="@Work.NAME_MAX_LENGTH" class="k-input k-textbox" />
            </div>
        </div>
        <div style="float: left; padding-top: 20px;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" data-work-id="#=Id#" onclick="editWork(event)">
                Обновить
            </button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" data-work-id="#=Id#" onclick="editWorkCancel_Click()">
                Отмена
            </button>
        </div>
    </div>
</div>