﻿@using FreshCar.Core.Entities
@model FreshCar.Core.Entities.CarWashBox[]
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/scripts/box/boxindex.js")

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" id="success-msg">@TempData["Success"]</div>
}
<div class="alert alert-danger" id="error-block" style="display: none">
    <span id="error-msg"></span>
</div>

@* Грид *@
<div class="k-grid k-widget">
    <div class="k-header k-grid-toolbar">
        <button class="k-button k-button-icontext k-grid-add" id="addBox">
             Добавить бокс
        </button>
    </div>
    <div class="k-grid-header">
        <table role="grid">
            <tr role="row">
                <th role="columnheader" rowspan="1" class="k-header">
                    Название бокса
                </th>
                <th rowspan="1" class="k-header"></th>
            </tr>
        </table>
    </div>
    <div class="k-grid-content k-auto-scrollable">
        <table>
            <tbody role="rowgroup">
            @foreach (var box in Model)
            {
                <tr class="k-master-row" role="row">
                    <td role="gridcell">@box.Name</td>
                    <td role="gridcell">
                        <button class="k-button k-button-icontext edit-box-button" data-box-id="@box.Id" data-box-name="@box.Name">
                            Изменить
                        </button>
                        <button class="k-button k-button-icontext delete-box-button" data-box-id="@box.Id">
                            Удалить
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    @* Попап для создания бокса *@
    <div style="display: none" id="create-box-modal">
        <div class="k-popup-edit-form k-window-content k-content">
            <div class="k-edit-form-container">
                <div class="k-edit-label">
                    <label>Название бокса</label>
                </div>
                <div class="k-edit-field">
                    <input id="create-box-name" type="text" maxlength="@CarWashBox.NAME_MAX_LENGTH" class="k-input k-textbox"/>
                </div>
            </div>
            <div style="float: left; padding-top: 20px;">
                <button type="button" id="create-box-save" class="k-button k-button-icontext k-primary k-grid-update">
                    Сохранить
                </button>
                <button type="button" class="k-button k-button-icontext k-grid-cancel" id="create-box-cancel">
                    Отмена
                </button>
            </div>
        </div>
    </div>

    @* Popup для изменения бокса *@
    <div style="display: none" id="edit-box-modal">
        <div class="k-popup-edit-form k-window-content k-content">
            <div class="k-edit-form-container">
                <div class="k-edit-label">
                    <label>Название бокса</label>
                </div>
                <div class="k-edit-field">
                    <input type="hidden" id="edit-box-id" />
                    <input id="edit-box-name" type="text" maxlength="@CarWashBox.NAME_MAX_LENGTH" class="k-input k-textbox" />
                </div>
            </div>
            <div style="float: left; padding-top: 20px;">
                <button type="button" id="edit-box-save" class="k-button k-button-icontext k-primary k-grid-update">
                    Сохранить
                </button>
                <button type="button" class="k-button k-button-icontext k-grid-cancel" id="edit-box-cancel">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>