﻿@model FreshCar.Models.Home.HeaderModel

<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>GID</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>GID</b>-мойка</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><span></span></li>
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <!-- The user image in the navbar-->
                        <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs" style="color: #E2FF00"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->

                            <span style="color: white">Автомойка: </span><span style="color: #E2FF00">@Model.CarWashName</span><br/>
                            <span style="color: white">Пользователь: </span><span style="color: #E2FF00">@Model.UserLogin</span><br/>
                            <span style="color: white">Текущий баланс: </span><span style="color: #E2FF00" id="score">@Model.Balance.ToString("F2")</span><br/>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <form class="pull-right" action="@Url.Action("SignOut", "Account")" method="POST">
                                <button type="submit" class="btn btn-default btn-flat">Выход</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>