﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>

    @Styles.Render("~/Styles/loginReg.css")
    @Styles.Render("~/Styles/normalize.css")
    @Styles.Render("~/Styles/main.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Account/loginReg.js")

</head>
<body>
    <div class="form">
        <h1>GID-мойка</h1>
        <p style="color: silver; text-align: center;">v1.0.0b</p>
        <ul class="tab-group">
            <li class="tab active"><a href="#login">Вход</a></li>
            <li class="tab"><a href="#signup">Регистрация</a></li>
        </ul>
        <div class="tab-content">
            <div id="login">
                <div id="infoMesLogin" style="color: white; text-align: center; margin-bottom: 10px;"></div>
                @Html.ValidationSummary()
                <form id="loginForm" action="@Url.Action("SignIn")">
                    @Html.AntiForgeryToken()
                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email" name="Login" pattern=".{5,50}" required title="Логин должен быть длинной от 5 до 50 символов" autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Пароль<span class="req">*</span>
                        </label>
                        <input type="password" name="Password" pattern="^[0-9a-zA-Z]{6,20}" required title="Пароль должен состоять из цифр или латинских букв, длиной от 6 до 20 символов" autocomplete="off"/>
                    </div>
                    <!-- <p class="forgot"><a href="#">Забыли пароль?</a></p>-->

                    <input type="submit" class="button button-block" value="Войти"/>
                </form>
            </div>
            <div id="signup">
                <div id="infoMesReg" style="color: white; text-align: center; margin-bottom: 10px;"></div>
                <form id="registrationFrom" action="@Url.Action("Register")">
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                Город<span class="req">*</span>
                            </label>
                            <input type="text" name="City" maxlength="30" title="Поле 'Город' должно быть длинной не более 30 символов" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Улица<span class="req">*</span>
                            </label>
                            <input type="text" name="Street" maxlength="40" title="Поле 'Улица' должно быть длинной не более 40 символов" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Дом<span class="req">*</span>
                            </label>
                            <input type="text" name="House" maxlength="10" title="Поле 'Дом' должно быть длинной не более 10 символов" required autocomplete="off"/>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Наименование<span class="req">*</span>
                        </label>
                        <input type="text" name="CompanyName" maxlength="50" title="Поле 'Наименование' должно быть длинной не более 10 символов" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Телефон<span class="req">*</span>
                        </label>
                        <input type="tel" name="Phone" title="Номер должен состоять из цифр, длиной от 5 до 20" autocomplete="off" pattern="{5,20}"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        <input type="email" name="Email" pattern=".{5,50}" required title="E-mail должен быть длинной от 5 до 50 символов" autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Пароль<span class="req">*</span>
                        </label>
                        <input type="password" name="Password" title="Пароль должен состоять из цифр или латинских букв, длиной от 6 до 20 символов" pattern="^[0-9a-zA-Z]{6,20}" required autocomplete="off"/>
                    </div>
                    <input type="submit" class="button button-block" value="Готово"/>
                </form>
            </div>
        </div>
        <div class="cssload-jumping" id="pr">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
</body>
</html>