﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GID-мойка</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/app")

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    
    @* Header *@
    @{ Html.RenderAction("Header", "Home"); }

    @* Left Menu *@
    @{ Html.RenderAction("LeftMenu", "Home"); }

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content">
            @RenderBody()
        </section>
        <div class="cssload-jumping" id="pr">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    <!-- Main Footer
    <footer class="main-footer">

        <div class="pull-right hidden-xs">

        </div>

        <strong>Copyright &copy; 2015 <a href="#">5D-STUDIO</a>.</strong> All rights reserved.
    </footer>-->
</div>
</body>
</html>


