﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h4 style="color: #d9534f"><strong>@ViewBag.Head</strong></h4>
        <h5 style="color: #d9534f"><strong>@ViewBag.Message</strong></h5>
    </div>
</body>
</html>
